@model MoviesStore.Models.MoviesViewModel

@{
    ViewData["Title"] = "Главная страница";
}

<h1>Каталог фильмов</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().ReliseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().PosterImg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReliseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PosterImg)
                </td>
                <td>                    
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>                        
                </td>
            </tr>
        }
    </tbody>
</table>
<pagination page-model="Model.PageViewModel" page-action="Index"></pagination>     